.profile__avatar {
    width: 120px;
    min-width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    background-image: url("../../../images/avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
